body {
  background-color: #d8efd3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#root {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;

  min-height: 400px;
  background-color: #f1f8e8f3;
  border-radius: 20px;
}

h1 {
  text-align: center;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  background-color: #f1f8e8;
  width: 40%;
}

input:focus {
  outline: none;
  border-bottom-color: #4caf50;
  background-color: #f5f5f5;
}
.contact-form {
  display: block;
  align-items: center;
}

.contact-form label {
  margin: 0.5rem;
  margin-bottom: 5rem;
  align-items: left;
}

.contact-form input {
  margin-bottom: 1rem;
  align-items: left;
  width: 60%;
}

.contact-form button {
  width: 60%;
  padding: 10px;
  margin-top: 50px;
  justify-content: center;
  background-color: #77b33f59;
  border: none;
  border-radius: 10px;
}
.send-button {
  display: block;
  margin: 0 auto;
}
.error {
  color: red;
  font-size: small;
}

.first {
  display: flex;
}
label[for="message"] {
  margin-bottom: 5px;
}
textarea {
  border: 1px;
  border-bottom: 1px solid #ccc;
  padding: 0;
  background-color: #f1f8e8;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 0;
  width: 75%;
}

textarea:focus {
  outline: none;
  border-bottom-color: #4caf50;
  background-color: #f5f5f5;
}
